<!--<th:block layout:decorator="layout/fullPageLayout">
    <head>
        <title th:utext="${product.name}"></title>
    </head>

    <div layout:fragment="content">
        
        <section id="left_column" th:object="${product}">
        
            <div id="product_content" class="product_container">
                <h2 th:utext="*{name}"></h2>
                
                <div id="maker" th:utext="*{manufacturer}"></div>
                
                <div id="price" th:if="${#object instanceof T(org.broadleafcommerce.core.catalog.domain.ProductBundle)}">
                    <div blc:price="*{salePrice}" th:if="*{onSale}" th:classappend="*{onSale}? 'sale'"></div>
                    <div blc:price="*{retailPrice}" th:classappend="*{onSale}? 'has-sale'"></div>
                </div>
                <div id="price" th:unless="${#object instanceof T(org.broadleafcommerce.core.catalog.domain.ProductBundle)}">
                    <div blc:price="*{defaultSku.salePrice}" th:if="*{defaultSku.onSale}" th:classappend="*{defaultSku.onSale}? 'sale'"></div>
                    <div blc:price="*{defaultSku.retailPrice}" th:classappend="*{defaultSku.onSale}? 'has-sale'"></div>
                </div>
                
                <div class="product-options" th:substituteby="catalog/partials/productOptions"/>                                
                
                <th:block th:with="checkInventory=*{defaultSku.inventoryType?.type == 'CHECK_QUANTITY'},
                                   availableInventory=${checkInventory ? #object.defaultSku.quantityAvailable != null and #object.defaultSku.quantityAvailable != 0 : true},
                                   inCart=${cart.containsSku(#object.defaultSku) and #lists.isEmpty(product.productOptions)}">
                    <blc:form method="POST" th:action="@{/cart/add}">
                        <div class="product-option-nonjs" th:each="productOption : *{productOptions}" th:object="${productOption}">
                            <div class="form50">
                                <label th:utext="*{label}"></label>
                                <select th:name="${'itemAttributes[' + productOption.attributeName + ']'}">
                                    <option th:each="optionValue : *{allowedValues}" th:object="${optionValue}" th:utext="*{attributeValue}"></option>
                                </select>
                            </div>
                        </div>
                        
                        <div th:utext="*{longDescription}" id="description"></div>
                        
                        <div id="inventory" th:if="${checkInventory}">
                            <b>Available inventory:</b> <span th:utext="*{defaultSku.quantityAvailable == null ? '0' : defaultSku.quantityAvailable}" />
                            <div th:if="${!availableInventory}" class="out_of_stock">
                                <a disabled="disabled" class="big-button gray-button">Out of Stock</a>
                            </div>
                        </div>
                        
                        <div th:class="*{'productActions' + id}">
                            <div class="in_cart" th:classappend="${!inCart}? ' hidden'">
                                <a class="modalcart big-button gray-button" th:href="@{/cart}">In Cart!</a>
                            </div>
                            <div class="add_to_cart" th:classappend="${inCart or !availableInventory}? ' hidden'">
                                <input type="hidden" name="productId" th:value="*{id}" />
                                <input type="hidden" name="quantity" value="1" />
                                <input type="submit" class="addToCart big red" th:value="#{product.buyNow}"/>
                            </div>
                            <p class="error" th:if="${param.errorMessage}" th:utext="${param.errorMessage[0]}"></p>
                        </div>
                    </blc:form>
                </th:block>
    
                <div th:if="${customer.loggedIn}" th:remove="tag">

                    <blc:form method="POST" th:action="@{/account/wishlist/add}">
                        <div class="product-option-nonjs" th:each="productOption : *{productOptions}" th:object="${productOption}">
                            <div class="form50">
                                <label th:utext="*{label}"></label>
                                <select th:name="${'itemAttributes[' + productOption.attributeName + ']'}">
                                    <option th:each="optionValue : *{allowedValues}" th:object="${optionValue}" th:utext="*{attributeValue}"></option>
                                </select>
                            </div>
                        </div>
                        <div th:class="${'productActions' + product.id}">

                            <blc:named_order orderVar="wishlist" orderName="wishlist" />

                            <div class="in_wishlist" th:classappend="${!wishlist.containsSku(product.defaultSku)}? ' hidden'">
                                <a class="inWishlist small-button gray-button" th:href="@{/account/wishlist}">In Wishlist!</a>
                            </div>
                            <div class="add_to_wishlist" th:classappend="${wishlist.containsSku(product.defaultSku)}? ' hidden'">
                                <input type="hidden" name="productId" th:value="*{id}" />
                                <input type="hidden" name="quantity" value="1" />
                                <input type="submit" class="addToWishlist small dark" value="+ Add to Wishlist" />
                            </div>
                        </div>
                    </blc:form>
                </div>
                    
                <p>
                    Share this Sauce:
                    <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
                        <a class="addthis_button_preferred_1"></a>
                        <a class="addthis_button_preferred_2"></a>
                        <a class="addthis_button_preferred_3"></a>
                        <a class="addthis_button_preferred_4"></a>
                        <a class="addthis_button_compact"></a>
                        <a class="addthis_counter addthis_bubble_style"></a>
                    </div>
                    <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-5006d3e47d6ace5d"></script>
                </p>
                
            </div>
            
            <div id="product_main_image" th:if="*{media['primary']}">
                <a th:href="@{*{#strings.replace(media['primary'].url + '?browse', 'jpg?browse', 'jpg')}}" class='jqzoom' id='zoom1' rel="gal1">
                    <img blc:src="@{*{media['primary'].url}+ '?browse'}" alt='' align="left" id="main_image" />
                </a>
            </div>
            
            <div id="product_thumbs_container">
                <ul id="product_thumbs" class="clearfix">
                    <li>
                        <a th:if="*{media['primary']}" href="javascript:;" class="zoomThumbActive" th:rel="${'{ gallery: ''gal1'', smallimage: ''__@{*{media['primary'].url}+'?browse'}__'', largeimage: ''__@{*{media['primary'].url}}__'' }'}" th:attr="data-tags=*{media['primary'].tags}">
                            <img blc:src="@{*{media['primary'].url}}" alt="Bottle Closeup" />
                        </a>
                        <p th:if="*{#maps.size(media) > 1}" class="thumbs_nav">Swipe to see more... (<span th:utext="'1 of ' + *{#maps.size(media) > 3 ? 3 : #maps.size(media)}"></span>)</p>
                        
                    </li>
                    
                    <li th:each="media, iterStat : *{media}" th:unless="${media.key == 'primary'}">
                        <a href="javascript:;"
                            th:rel="${'{ gallery: ''gal1'', smallimage: ''__@{${media.value.url}+'?browse'}__'', largeimage: ''__@{${media.value.url}}__'' }'}" th:attr="data-tags=${media.value.tags}">
                            <img blc:src="@{${media.value.url}}" alt="Bottle Closeup" />
                        </a>
                        <p class="thumbs_nav" th:utext="${iterStat.count + 1} + ' of ' + *{#maps.size(media) > 3 ? 3 : #maps.size(media)}"></p>
                    </li>
                </ul>
            </div>
            
            <div class="clearfix"></div>
                <div id="customer-reviews-container">
                    <blc:ratings itemId="${product.id}" />
                    <div th:if="${ratingSummary}" th:object="${ratingSummary}">
                        <span class="title">Community Rating</span>
                        <div id="community-rating-container">
                            <blc:form id="community-rating" class="star-rating" th:attr="data-community-rating=*{averageRating}">
                                <input type="radio" class="star {split:4}" /> 
                                <input type="radio" class="star {split:4}" /> 
                                <input type="radio" class="star {split:4}" /> 
                                <input type="radio" class="star {split:4}" /> 
                                <input type="radio" class="star {split:4}" />
                                <input type="radio" class="star {split:4}" />
                                <input type="radio" class="star {split:4}" />
                                <input type="radio" class="star {split:4}" />
                                <input type="radio" class="star {split:4}" />
                                <input type="radio" class="star {split:4}" />
                                <input type="radio" class="star {split:4}" />
                                <input type="radio" class="star {split:4}" />
                                <input type="radio" class="star {split:4}" />
                                <input type="radio" class="star {split:4}" />
                                <input type="radio" class="star {split:4}" />
                                <input type="radio" class="star {split:4}" />
                                <input type="radio" class="star {split:4}" />
                                <input type="radio" class="star {split:4}" />
                                <input type="radio" class="star {split:4}" />
                                <input type="radio" class="star {split:4}" />
                            </blc:form>
                            <br/>
                            <div class="total-reviews">
                                (<span th:utext="*{numberOfReviews}"></span><span th:if="*{numberOfReviews} == 1"> review</span><span th:if="*{numberOfReviews} > 1"> reviews</span>)
                            </div>
                        </div>
                        <div class="clearfix"></div>
                            <blc:ratings itemId="${product.id}" />
                            <div th:if="${currentCustomerReview}" th:object="${currentCustomerReview}" class="customer-reviews current-customer-review">
                                <h4>Your Review</h4>
                                <p class="voting-summary" th:if="*{notHelpfulCount()} + *{helpfulCount()} > 0">
                                    <span th:utext="*{helpfulCount()}">9</span> of
                                    <span th:utext="*{notHelpfulCount()} + *{helpfulCount()}">10</span> found the following review helpful
                                </p>
                                <blc:form class="customer-rating" th:attr="data-customer-rating=*{ratingDetail.rating}">
                                    <input type="radio" class="star" />
                                    <input type="radio" class="star" />
                                    <input type="radio" class="star"/>
                                    <input type="radio" class="star" />
                                    <input type="radio" class="star" />
                                </blc:form>
                                <span class="reviewer-info">
                                    on <span th:utext="*{#dates.format(reviewSubmittedDate, 'MMMM d, yyyy')}">1-2-2010</span>
                                </span>
                                <div class="clearfix"></div>
                                <blockquote th:if="!*{#strings.isEmpty(reviewText)}" th:utext="'&quot;' + *{reviewText} + '&quot;'">Review Text</blockquote>
                            </div>
                        <div class="helpful-reviews">
                            <h4>Customer Reviews</h4>
                            <ul class="customer-reviews">
                                <li th:each="review, iterStat : *{reviews}" th:object="${review}" th:if="${iterStat.count} lt 4">
                                    <p class="voting-summary" th:if="*{notHelpfulCount()} + *{helpfulCount()} > 0">
                                        <span th:utext="*{helpfulCount()}">9</span> of
                                        <span th:utext="*{notHelpfulCount()} + *{helpfulCount()}">10</span> found the following review helpful
                                    </p>
                                    <blc:form class="customer-rating" th:attr="data-customer-rating=*{ratingDetail.rating}">
                                        <input type="radio" class="star" />
                                        <input type="radio" class="star" />
                                        <input type="radio" class="star"/>
                                        <input type="radio" class="star" />
                                        <input type="radio" class="star" />
                                    </blc:form>
                                    <span class="reviewer-info">
                                        by <span class="penname" th:utext="${review.customer.firstName}">John</span> on
                                        <span th:utext="*{#dates.format(reviewSubmittedDate, 'MMMM d, yyyy')}">1-2-2010</span>
                                    </span>
                                    <div class="clearfix"></div>
                                    <blockquote th:if="!*{#strings.isEmpty(reviewText)}" th:utext="'&quot;' + *{reviewText} + '&quot;'">Review Text</blockquote>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div th:if="${customer.loggedIn}">
                        <div th:if="${ratingSummary}">
                            <a th:unless="${currentCustomerReview}" class="create-review" th:href="@{'/reviews/product/' + ${product.id}}">Create a review</a> 
                        </div>
                        <div th:unless="${ratingSummary}">
                            <a th:href="@{'/reviews/product/' + ${product.id}}" class="create-review">Be the first to write a review!</a>
                        </div>
                    </div>
                    <div th:unless="${customer.loggedIn}">
                        <a th:if="${ratingSummary}" href="#" th:href="@{/login}" class="small dark account">Login to create a review</a>
                        <a th:unless="${ratingSummary}" th:href="@{/login}" class="account">Login and be the first to write a review!</a>
                    </div>
                </div>          
        </section>
    
        <section id="right_column">
            <header>Featured Products</header>
            <div id="options">
                <div class="section">
                     <blc:related_products productId="${product.id}"/>   
                    <ul id="featured_products" class="group">
                        <li th:each="relatedProduct : ${relatedProducts}" th:object="${relatedProduct.relatedProduct}" th:include="catalog/partials/productListItem" class="product_container"></li>
                    </ul>
                </div>                                  
            </div>
        </section>              
    </div>
    
</th:block>-->

<th:block layout:decorator="layout/fullPageLayout">
    <head>
        <title th:utext="${product.name}"></title>
    </head>
    
    <div layout:fragment="content">
        <section class="product-view" th:object="${product}">
    <div class="container">
        <ul class="breadcrumb">
            <li><a th:href="@{/}">Home</a> </li>
            <li><a th:href="*{category.url}" th:utext="*{category.name}">COLLECTIONS</a> </li>
            <li class="current" th:utext="*{name}">BROWN 1929 BLACK</li>
        </ul>
        <div class="col-md-12 col-sm-12 col-xs-12 product-title">
                 <h2>NEW! ROYAL 38 MM - SILVER</h2>   
                                                             <div class="price">
                                                <h4><b>$210 USD</b></h4>
                                                <h4 class="price2">$250 USD</h4>
                                            </div>
                </div>
        <div class="col-md-12">
            <div class="center slider">
                <div th:each="media, iterStat : *{media}">
                    <a class="info thumb" th:href="@{${media.value.url}}" data-fancybox=""><img class="img-responsive" blc:src="@{${media.value.url}}" />
                    </a>
                </div>
                <div>
                    <a class="info thumb" href="/img/pauloramirezwatch1-600x6002.jpg" data-fancybox=""><img class="img-responsive" src="/img/pauloramirezwatch1-600x6002.jpg" />
                    </a>
                </div>
                <div>
                    <a class="info thumb" href="/img/pauloramirezwatch1-600x6003.jpg" data-fancybox=""><img class="img-responsive" src="/img/pauloramirezwatch1-600x6003.jpg" />
                    </a>
                </div>
                <div>
                    <a class="info thumb" href="/img/pauloramirezwatch1-600x600.jpg" data-fancybox=""><img class="img-responsive" src="/img/pauloramirezwatch1-600x600.jpg" />
                    </a>
                </div>
            </div>
        </div>
        <div th:class="*{'productActions' + id} + 'col-md-12 col-sm-12 col-xs-12 col-md-offset-2'">
            <div class="col-md-2 col-sm-3 col-xs-12 product-quantity">
                <div class="input-group" style="margin-top: 10px; border: 1px solid #212230;"> 
                    <span class="input-group-btn">
                        <button class="btn-dark3" id="minus-value">-</button>
                    </span>
                    <span class="unit"> <h4 id="increment-value">1</h4></span>
                    <span class="input-group-btn">
                        <button class="btn-dark3" id="plus-value">+</button>
                    </span> 
                </div>
            </div>
            <th:block th:with="checkInventory=*{defaultSku.inventoryType?.type == 'CHECK_QUANTITY'},
                                   availableInventory=${checkInventory ? #object.defaultSku.quantityAvailable != null and #object.defaultSku.quantityAvailable != 0 : true},
                inCart=${cart.containsSku(#object.defaultSku) and #lists.isEmpty(product.productOptions)}">
                <div class="col-md-4 col-sm-7 col-xs-12" th:classappend="${inCart or !availableInventory}? ' hidden'">
                    <center>
                       <button class="btn-dark2" id="singleAddToCartButton">Buy Now</button>
                    </center>
                </div>
                <div class="col-md-4 col-sm-7 col-xs-12 out_of_stock" th:if="${!availableInventory}" >
                    <center>
                       <button class="btn-dark2">Out of Stock</button>
                    </center>
                </div>
            </th:block>
            <div class="col-md-2 col-sm-2 col-xs-12">
                <button class="tool-tip btn-dark1" data-tooltip-title="Add to wishlist" data-tooltip-position="top"><i class="fa fa-heart" aria-hidden="true"></i>
                </button>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 about">
            <p th:utext="*{longDescription}"></p>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 specifications">
            <h2>specifications</h2>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td><b>Model No. :</b> </td>
                                <td>Born 1929</td>
                            </tr>
                            <tr>
                                <td><b>Case Color :</b> </td>
                                <td>Black</td>
                            </tr>
                            <tr>
                                <td><b>Dail Color :</b> </td>
                                <td>Black</td>
                            </tr>
                            <tr>
                                <td><b>Case :</b> </td>
                                <td>304L Stainless Steel Case</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td><b>Case Size : </b> </td>
                                <td> 42 x 37mm</td>
                            </tr>
                            <tr>
                                <td><b>Band :</b> </td>
                                <td> Black sleek leather strap with stainless steel buckle.</td>
                            </tr>
                            <tr>
                                <td><b>Movement :</b> </td>
                                <td>Japan Citizen Miyota</td>
                            </tr>
                            <tr>
                                <td><b>Glass : </b> </td>
                                <td>High hardness mineral glass Water resistance to 3ATM (avoid direct contact with water)</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <a href="#">
                <h4>all specifications </h4> </a>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 images">
            <div class="col-md-3 col-sm-3 col-xs-12 item">
                <div class="hovereffect"> <img class="img-responsive" src="/img/product-1.jpg" alt="" />
                <div class="overlay">
                <a class="info" href="/img/product-1.jpg" data-fancybox="gallery"><img src="/img/zoom-in.png" />View Image</a>
                </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 item">
                <div class="hovereffect"> <img class="img-responsive" src="/img/product-2.jpg" alt="" />
                <div class="overlay">
                <a class="info" href="/img/product-2.jpg" data-fancybox="gallery"><img src="/img/zoom-in.png" />View Image</a>
                </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 item">
                <div class="hovereffect"> <img class="img-responsive" src="/img/product-3.jpg" alt="" />
                <div class="overlay">
                <a class="info" href="/img/product-3.jpg" data-fancybox="gallery"><img src="/img/zoom-in.png" />View Image</a>
                </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 item">
                <div class="hovereffect"> <img class="img-responsive" src="/img/product-4.jpg" alt="" />
                <div class="overlay">
                <a class="info" href="/img/product-4.jpg" data-fancybox="gallery"><img src="/img/zoom-in.png" />View Image</a>
                </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 reviews">
            <h2>CUSTOMER REVIEWS</h2>
            <div class="star-ratings-sprite"><span style="width:72%" class="star-ratings-sprite-rating"></span> </div>
            <h5>Based on 50 Reviews</h5>
            <a data-fancybox="" data-src="#review-container" href="javascript:;"><h5 onclick="initFancyScroll()">View all reviews</h5></a>
            <div class="col-md-12 col-sm-12 col-xs-12 review">
                <h3>Sheryl Bennett</h3>
                <div class="star-ratings-sprite"><span style="width:72%" class="star-ratings-sprite-rating"></span> </div>
                <h4>AMAZING!!</h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
            </div>
            <center>
                <button class="btn-dark" onclick="writeAReview()">Write Review</button>
            </center>
            <!-- Modal -->
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h3 style="color: #212230;" class="modal-title">RATE THIS PRODUCT</h3> 
                            </div>
                            <div class="modal-body">
                                <blc:form th:action="@{'/reviews/product/' + ${product.id}}" id="reviewForm">
                                    <h4>Overall Rating</h4>
                                    <center>
                                        <div id="rateYo"></div>
                                    </center>
                                    <div class="form-group">
                                        <textarea class="form-control" type="textarea" id="message" placeholder="Your Review" maxlength="140" rows="7"></textarea> <span class="help-block">
                                        <p id="characterLeft" class="help-block ">50 character minimum. Focus on the product and your experience using it.</p>
                                        </span>
                                    </div>
                                </blc:form>
                            </div>
                            <div class="modal-footer">
                                <center>
                                    <button class="btn-dark1"> Post Review</button>
                                </center>
                            </div>
                    </div>
                </div>
            </div>
        <!-- Modal ends -->
        </div>
        
        
        <main id="review-container" style="display: none;">

            <div id="fancyscroll" class="container" style="height: calc(100vh - 140px);">
            <section class="all-reviews"  th:if="${ratingSummary}" th:object="${ratingSummary}">
            <div class="col-md-12 col-sm-12 col-xs-12 my-banner">
                <img class="img-responsive" src="/img/reviews.jpg" />
            </div>
                <div class="col-md-12 col-sm-12 col-xs-12 reviews">
                    <h2>CUSTOMER REVIEWS</h2>
                    <div class="star-ratings-sprite"><span style="width:72%" class="star-ratings-sprite-rating"></span> </div>
                    <h5>Based on 50 Reviews</h5>
                    <div class="col-md-12 col-sm-12 col-xs-12 review-all" th:each="review, iterStat : *{reviews}" th:object="${review}">
                        <h3 th:utext="${review.customer.firstName}">Review user</h3>
                        <div class="star-ratings-sprite"><span style="width:72%" class="star-ratings-sprite-rating"></span> </div>
                        <h4 utext="*{ratingDetail.rating}">AMAZING!!</h4>
                        <p th:if="!*{#strings.isEmpty(reviewText)}" th:utext="'&quot;' + *{reviewText} + '&quot;'"></p>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 review-all">
                        <h3>Donald Byrd</h3>
                        <div class="star-ratings-sprite"><span style="width:72%" class="star-ratings-sprite-rating"></span> </div>
                        <h4>AMAZING!!</h4>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, Pri quas audiam virtute ut, case utamur fuisset eam ut, iisque accommodare an eam. Reque blandit qui eu, cu vix nonumy volumus. Legendos intellegam id usu, vide oporteat vix eu, id illud principes has. Nam tempor utamur gubergren no.</p>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 review-all">
                        <h3>Domingo Montgomery</h3>
                        <div class="star-ratings-sprite"><span style="width:72%" class="star-ratings-sprite-rating"></span> </div>
                        <h4>AMAZING!!</h4>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, Pri quas audiam virtute ut, case utamur fuisset eam ut, iisque accommodare an eam. Reque blandit qui eu, cu vix nonumy volumus. Legendos intellegam id usu, vide oporteat vix eu, id illud principes has. Nam tempor utamur gubergren no.</p>
                    </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 review-all">
                        <h3>Cynthia Webster</h3>
                        <div class="star-ratings-sprite"><span style="width:72%" class="star-ratings-sprite-rating"></span> </div>
                        <h4>AMAZING!!</h4>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, Pri quas audiam virtute ut, case utamur fuisset eam ut, iisque accommodare an eam. Reque blandit qui eu, cu vix nonumy volumus. Legendos intellegam id usu, vide oporteat vix eu, id illud principes has. Nam tempor utamur gubergren no.</p>
                    </div>
                </div>
                </section>
</div>
    </main>
        
        
        <blc:form method="POST" th:action="@{/cart/add}" id="addProductToCartForm" style="display: none;">
                        <div class="product-option-nonjs" th:each="productOption : *{productOptions}" th:object="${productOption}">
                            <div class="form50">
                                <label th:utext="*{label}"></label>
                                <select th:name="${'itemAttributes[' + productOption.attributeName + ']'}" class="option-class">
                                    <option th:each="optionValue : *{allowedValues}" th:object="${optionValue}" th:utext="*{attributeValue}"></option>
                                </select>
                            </div>
                        </div>

                        <div th:utext="*{longDescription}" id="description"></div>
                        
                        <div id="inventory" th:if="${checkInventory}">
                            <b>Available inventory:</b> <span th:utext="*{defaultSku.quantityAvailable == null ? '0' : defaultSku.quantityAvailable}" />
                            <div th:if="${!availableInventory}" class="out_of_stock">
                                <a disabled="disabled" class="big-button gray-button">Out of Stock</a>
                            </div>
                        </div>
                        
                        <div th:class="*{'productActions' + id}">
                            <div class="add_to_cart">
                                <input type="hidden" name="productId" th:value="*{id}" />
                                <input type="hidden" name="quantity" value="1" />
                                <input type="submit" class="addToCart big red" th:value="#{product.buyNow}"/>
                            </div>
                            <p class="error" th:if="${param.errorMessage}" th:utext="${param.errorMessage[0]}"></p>
                        </div>
                    </blc:form>
        
        <div style="display:none;" id="popUpForm">
            <blc:form id="popUpFormInner" method="POST" th:action="@{/cart/add}">
                <input type="hidden" name="productId" th:value="*{id}" />
                <div class="product-option-nonjs" th:each="productOption : *{productOptions}" th:object="${productOption}">
                    <label th:utext="*{label}"></label>
                    <div th:if="*{type.type} == 'TEXT'" th:remove="tag">
                        <input th:name="${'itemAttributes[' + productOption.attributeName + ']'}" value="" th:type="*{type}" th:required="*{required}" maxlength="255" class="popup-class form-control" th:attr="data-optiontype=*{type.type}" th:id="*{attributeName}" />
                    </div>
                    <div th:if="*{type.type} == 'SELECT'" th:remove="tag">
                        <select th:name="${'itemAttributes[' + productOption.attributeName + ']'}" class="popup-class soflow" th:attr="data-optiontype=*{type.type}" th:id="*{attributeName}">
                            <option th:each="optionValue : *{allowedValues}" th:object="${optionValue}" th:utext="*{attributeValue}"></option>
                        </select> 
                    </div>
                    <div th:if="*{type.type} == 'SIZE'" th:remove="tag">
                        <select th:name="${'itemAttributes[' + productOption.attributeName + ']'}" class="popup-class soflow" th:attr="data-optiontype=*{type.type}" th:id="*{attributeName}">
                            <option th:each="optionValue : *{allowedValues}" th:object="${optionValue}" th:utext="*{attributeValue}"></option>
                        </select> 
                    </div>
                    <div th:if="*{type.type} == 'COLOR'" th:remove="tag">
                        <select th:name="${'itemAttributes[' + productOption.attributeName + ']'}" class="popup-class soflow" th:attr="data-optiontype=*{type.type}" th:id="*{attributeName}">
                            <option th:each="optionValue : *{allowedValues}" th:object="${optionValue}" th:utext="*{attributeValue}"></option>
                        </select> 
                    </div>
                    <div th:if="*{type.type} == 'TEXTAREA'" th:remove="tag">
                        <textarea th:name="${'itemAttributes[' + productOption.attributeName + ']'}" value="" th:type="*{type}" th:required="*{required}" class="popup-class form-control" th:attr="data-optiontype=*{type.type}" th:id="*{attributeName}" ></textarea>
                    </div>
                    <div th:if="*{type.type} == 'DECIMAL'" th:remove="tag">
                        <input th:name="${'itemAttributes[' + productOption.attributeName + ']'}" value="" th:type="*{type}" th:required="*{required}" class="popup-class form-control" th:attr="data-optiontype=*{type.type}" th:id="*{attributeName}" maxlength="10" />
                    </div>
                </div>
            </blc:form>
        </div>
        
        
        <div class="col-md-12 col-sm-12 col-xs-12 related-items">
        <h2>YOU MIGHT ALSO LIKE</h2>
        <div id="myCarousel5" class="carousel slide">
        <!-- Carousel items -->
        <div class="carousel-inner">
        <div class="item active">
        <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12 result">
        <center>
        <div class="product-img"> <img class="img-responsive" src="/img/d.jpg" />
        <a data-toggle="modal" data-target="#myModal2" href=""> <img class="img-responsive top1" src="/img/pauloramirezwatch1-600x600.jpg" /> </a>
        </div>
        <div class="title">
        <h4>NEW! ROYAL 38 MM - SILVER</h4> </div>
        <div class="price">
        <h4><b>$210 USD</b></h4>
        <h4 class="price2">$250 USD</h4>
        <!-- <h5>10% off</h5> -->
        </div>
        <button class="btn-dark">Add To Cart</button>
        </center>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 result">
        <center>
        <div class="product-img"> <img class="img-responsive" src="/img/d.jpg" />
        <a data-toggle="modal" data-target="#myModal2" href=""> <img class="img-responsive top1" src="/img/pauloramirezwatch1-600x600.jpg" /> </a>
        </div>
        <div class="title">
        <h4>NEW! ROYAL 38 MM - SILVER</h4> </div>
        <div class="price">
        <h4><b>$210 USD</b></h4>
        <h4 class="price2">$250 USD</h4>
        <!-- <h5>10% off</h5> -->
        </div>
        <button class="btn-dark">Add To Cart</button>
        </center>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 result">
        <center>
        <div class="product-img"> <img class="img-responsive" src="/img/d.jpg"/>
        <a data-toggle="modal" data-target="#myModal2" href=""> <img class="img-responsive top1" src="/img/pauloramirezwatch1-600x600.jpg" /> </a>
        </div>
        <div class="title">
        <h4>NEW! ROYAL 38 MM - SILVER</h4> </div>
        <div class="price">
        <h4><b>$210 USD</b></h4>
        <h4 class="price2">$250 USD</h4>
        <!-- <h5>10% off</h5> -->
        </div>
        <button class="btn-dark">Add To Cart</button>
        </center>
        </div>
        </div>
        <!--/row-->
        </div>
        <!--/item-->
        <div class="item">
        <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12 result">
        <center>
        <div class="product-img"> <img class="img-responsive" src="/img/d.jpg" />
        <a data-toggle="modal" data-target="#myModal2" href=""> <img class="img-responsive top1" src="/img/pauloramirezwatch1-600x600.jpg" /> </a>
        </div>
        <div class="title">
        <h4>NEW! ROYAL 38 MM - SILVER</h4> </div>
        <div class="price">
        <h4><b>$210 USD</b></h4>
        <h4 class="price2">$250 USD</h4>
        <!-- <h5>10% off</h5> -->
        </div>
        <button class="btn-dark">Add To Cart</button>
        </center>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 result">
        <center>
        <div class="product-img"> <img class="img-responsive" src="/img/d.jpg" />
        <a data-toggle="modal" data-target="#myModal2" href=""> <img class="img-responsive top1" src="/img/pauloramirezwatch1-600x600.jpg" /> </a>
        </div>
        <div class="title">
        <h4>NEW! ROYAL 38 MM - SILVER</h4> </div>
        <div class="price">
        <h4><b>$210 USD</b></h4>
        <h4 class="price2">$250 USD</h4>
        <!-- <h5>10% off</h5> -->
        </div>
        <button class="btn-dark">Add To Cart</button>
        </center>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 result">
        <center>
        <div class="product-img"> <img class="img-responsive" src="/img/d.jpg" />
        <a data-toggle="modal" data-target="#myModal2" href=""> <img class="img-responsive top1" src="/img/pauloramirezwatch1-600x600.jpg" /> </a>
        </div>
        <div class="title">
        <h4>NEW! ROYAL 38 MM - SILVER</h4> </div>
        <div class="price">
        <h4><b>$210 USD</b></h4>
        <h4 class="price2">$250 USD</h4>
        <!-- <h5>10% off</h5> -->
        </div>
        <button class="btn-dark">Add To Cart</button>
        </center>
        </div>
        </div>
        <!--/row-->
        </div>
        <!--/item-->
        <div class="item">
        <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12 result">
        <center>
        <div class="product-img"> <img class="img-responsive" src="/img/d.jpg" />
        <a data-toggle="modal" data-target="#myModal2" href=""> <img class="img-responsive top1" src="/img/pauloramirezwatch1-600x600.jpg" /> </a>
        </div>
        <div class="title">
        <h4>NEW! ROYAL 38 MM - SILVER</h4> </div>
        <div class="price">
        <h4><b>$210 USD</b></h4>
        <h4 class="price2">$250 USD</h4>
        <!-- <h5>10% off</h5> -->
        </div>
        <button class="btn-dark">Add To Cart</button>
        </center>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 result">
        <center>
        <div class="product-img"> <img class="img-responsive" src="/img/d.jpg" />
        <a data-toggle="modal" data-target="#myModal2" href=""> <img class="img-responsive top1" src="/img/pauloramirezwatch1-600x600.jpg" /> </a>
        </div>
        <div class="title">
        <h4>NEW! ROYAL 38 MM - SILVER</h4> </div>
        <div class="price">
        <h4><b>$210 USD</b></h4>
        <h4 class="price2">$250 USD</h4>
        <!-- <h5>10% off</h5> -->
        </div>
        <button class="btn-dark">Add To Cart</button>
        </center>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 result">
        <center>
        <div class="product-img"> <img class="img-responsive" src="/img/d.jpg" />
        <a data-toggle="modal" data-target="#myModal2" href=""> <img class="img-responsive top1" src="/img/pauloramirezwatch1-600x600.jpg" /> </a>
        </div>
        <div class="title">
        <h4>NEW! ROYAL 38 MM - SILVER</h4> </div>
        <div class="price">
        <h4><b>$210 USD</b></h4>
        <h4 class="price2">$250 USD</h4>
        <!-- <h5>10% off</h5> -->
        </div>
        <button class="btn-dark">Add To Cart</button>
        </center>
        </div>
        </div>
        <!--/row-->
        </div>
        <!--/item-->
        </div>
        <!--/carousel-inner-->
        <a class="my-left" href="#myCarousel5" data-slide="prev"><img src="/img/left.png" /> </a>
        <a class="my-right" href="#myCarousel5" data-slide="next"><img src="/img/right.png" /> </a>
        </div>
        <!--/myCarousel-->
        </div>
        <!--Quick-view Modal  -->
        <div class="modal fade" id="myModal2" role="dialog">
        <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content quick-view">
        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body clearfix">
        <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="col-md-6 col-sm-6 col-xs-12" id="main_area">
        <!-- <img class="img-responsive" src="/img/pauloramirezwatch1-600x600.jpg">  -->
        <!-- Slider -->
        <div class="col-md-12 col-sm-12 col-xs-12" id="slider">
        <!-- Top part of the slider -->
        <div class="col-md-12 col-sm-12 col-xs-12" id="carousel-bounding-box">
        <div class="carousel slide" id="myCarousel">
        <!-- Carousel items -->
        <div class="carousel-inner zoom">
        <div class="active item" data-slide-number="0"> <img class="img-responsive" src="/img/pauloramirezwatch1-600x600.jpg" /> </div>
        <div class="item" data-slide-number="1"> <img class="img-responsive" src="/img/pauloramirezwatch1-600x6002.jpg" /> </div>
        <div class="item" data-slide-number="2"> <img class="img-responsive" src="/img/pauloramirezwatch1-600x6003.jpg" /> </div>
        </div>
        <!-- Carousel nav -->
        </div>
        </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12" id="slider-thumbs">
        <!-- Bottom switcher of slider -->
        <ul class="hide-bullets">
        <li class="col-md-4 col-sm-4">
        <a class="thumbnail" id="carousel-selector-0"> <img class="img-responsive" src="/img/pauloramirezwatch1-600x600.jpg" /> </a>
        </li>
        <li class="col-md-4 col-sm-4">
        <a class="thumbnail" id="carousel-selector-1"><img class="img-responsive" src="/img/pauloramirezwatch1-600x6002.jpg" /> </a>
        </li>
        <li class="col-md-4 col-sm-4">
        <a class="thumbnail" id="carousel-selector-2"><img class="img-responsive" src="/img/pauloramirezwatch1-600x6003.jpg" /> </a>
        </li>
        </ul>
        </div>
        <!--/Slider-->
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
        <h2>NEW! ROYAL 38 MM - SILVER</h2>
        <div class="price">
        <h3><b>$210 USD</b></h3>
        <h3 class="price2">$250 USD</h3> </div>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        <div class="col-md-12 col-sm-12 col-xs-12 specifications">
        <table class="table">
        <tbody>
        <tr>
        <td><b>Model No. :</b> </td>
        <td>Born 1929</td>
        </tr>
        <tr>
        <td><b>Case Color :</b> </td>
        <td>Black</td>
        </tr>
        <tr>
        <td><b>Dail Color :</b> </td>
        <td>Black</td>
        </tr>
        <tr>
        <td><b>Case :</b> </td>
        <td>304L Stainless Steel Case</td>
        </tr>
        <tr>
        <td><b>Case Size : </b> </td>
        <td> 42 x 37mm</td>
        </tr>
        <tr>
        <td><b>Band :</b> </td>
        <td> Black sleek leather strap with stainless steel buckle.</td>
        </tr>
        </tbody>
        </table>
        <a href="">
        <h5>VIEW ALL SPECIFICATIONS </h5> </a>
        </div>
        <div class="specfi"><a href=""><h5>VIEW ALL SPECIFICATIONS </h5></a> </div>
        <div class="col-md-12 col-sm-12 col-xs-12 btns">
        <div class="col-md-5 col-sm-5 col-xs-12 shop">
        <button class="btn-dark">Shop Now</button>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 quantity">
        <div class="input-group" style="margin-top: 10px; border: 1px solid #212230;"><span class="input-group-btn">
        <button class="btn-dark3 value-control" data-action="minus" data-target="font-size">-</button>
        </span>
        <input type="text" value="1" class="form-control" id="font-size" /> <span class="input-group-btn">
        <button class="btn-dark3 value-control" data-action="plus" data-target="font-size">+</button>
        </span> </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12 wishlist">
        <button class="btn-dark2"><i class="fa fa-heart" aria-hidden="true"></i> </button>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
    <!-- modal Ends -->
    </div>
<!-- main container ends -->
</section>
    </div>
</th:block>