<!--<div layout:decorator="layout/checkoutLayout" layout:fragment="content">
    <blc:one_page_checkout orderInfoForm="${orderInfoForm}"
                           shippingInfoForm="${shippingInfoForm}"
                           billingInfoForm="${billingInfoForm}"
                           orderInfoHelpMessage="#{cart.fillOutBasicOrder}"
                           billingInfoHelpMessage="#{cart.fillOutBillingAddress}"
                           shippingInfoHelpMessage="#{cart.fillOutShippingAddress}"
                           th:remove="tag">

        <div id="cart">

            <div th:if="${#lists.isEmpty(cart.orderItems)}" class="checkout_warning">
                <span th:utext="#{cart.empty}">Your cart is empty</span>
                <br/>
                <a th:href="@{/}"><span th:utext="#{cart.continueShopping}">Continue Shopping</span></a>
            </div>

        <div th:if="${cartRequiresLock != null}" class="checkout_warning">
            <span th:utext="#{csr_lockCartBeforeCheckout}" />
        </div>

        <div th:unless="${#lists.isEmpty(cart.orderItems) or cartRequiresLock != null}">

                <p th:if="${PAYMENT_PROCESSING_ERROR}" class="payment-error">
                    <span th:utext="#{${PAYMENT_PROCESSING_ERROR}}" class="error">...</span>
                </p>

                <div class="clearfix"></div>

                <div th:replace="checkout/partials/orderSummary :: order-summary"></div>

                <div class="clearfix"></div>

            <div th:each="sectionDTO : ${checkoutSectionDTOs}" th:object="${sectionDTO}" th:remove="tag">
                <div th:if="${'ORDER_INFO' == sectionDTO.view.type}" th:remove="tag">
                    <div th:replace="checkout/partials/orderInfoForm :: order-info-form"
                            th:with="${sectionDTO}"></div>
                    <div class="clearfix"></div>
                </div>
                <div th:if="${'BILLING_INFO' == sectionDTO.view.type}" th:remove="tag">
                    <div th:replace="checkout/partials/billingInfoForm :: billing-info-form"
                            th:with="${sectionDTO}"></div>
                </div>
                <div th:if="${'SHIPPING_INFO' == sectionDTO.view.type}" th:remove="tag">
                    <div th:replace="checkout/partials/shippingInfoForm :: shipping-info-form"
                            th:with="${sectionDTO}"></div>
                </div>
                <div th:if="${'PAYMENT_INFO' == sectionDTO.view.type}" th:remove="tag">
                    <div class="clearfix"></div>
                    <div th:replace="checkout/partials/paymentInfoForm :: payment-info-form"
                            th:with="${sectionDTO}"></div>
                </div>
            </div>

            </div>
        </div>

    </blc:one_page_checkout>
</div>-->

<div layout:decorator="layout/checkoutLayout" layout:fragment="content">
    <blc:one_page_checkout orderInfoForm="${orderInfoForm}"
                           shippingInfoForm="${shippingInfoForm}"
                           billingInfoForm="${billingInfoForm}"
                           orderInfoHelpMessage="#{cart.fillOutBasicOrder}"
                           billingInfoHelpMessage="#{cart.fillOutBillingAddress}"
                           shippingInfoHelpMessage="#{cart.fillOutShippingAddress}"
                           th:remove="tag">

        <section class="checkout">
            <div class="container">
                    <div class="col-md-12 col-sm-12 col-xs-12 hdng padding-bottom-20 margin-bottom-10">
                        <h1 class="background text-center"><span> Checkout</span></h1>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 padding-0">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="col-md-12 col-sm-12 col-xs-12 step-2">
<!--                                <h2 class="padding-bottom-20 margin-bottom-0">DELIVERY ADDRESS</h2>
                                <div class="col-md-12 col-sm-12 col-xs-12" style="padding-left: 0; margin-top: 20px;">
                                    <div style="background-color: #f7f7f7; padding: 20px;">
                                        <ul>
                                            <li>
                                            <h3 style="margin-top: 0">Wendell Mckinney</h3> </li>
                                            <li>
                                            <h5>5 Fletcher Cl, Cockermouth CA13 0NF, UK</h5> </li>
                                            <li>
                                            <h5>+1-202-555-0147</h5> </li>
                                            <li>
                                            <h5>wendellmckinney@gmail.com</h5> </li>
                                        </ul>
                                        <div class="address">
                                            <ul>
                                                <li><b> Remove</b> </li>
                                                <li><b> Edit</b> </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <button type="button" class="btn-dark" data-toggle="modal" data-target="#myModal">+ Add New Address</button>
                                </div>-->
                                <div th:each="sectionDTO : ${checkoutSectionDTOs}" th:object="${sectionDTO}" th:remove="tag">
                                    <div th:if="${'ORDER_INFO' == sectionDTO.view.type}" th:remove="tag">
                                        <div th:replace="checkout/partials/orderInfoForm :: order-info-form"
                                                th:with="${sectionDTO}"></div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div th:if="${'BILLING_INFO' == sectionDTO.view.type}" th:remove="tag">
                                        <div th:replace="checkout/partials/billingInfoForm :: billing-info-form"
                                                th:with="${sectionDTO}"></div>
                                    </div>
                                    <div th:if="${'SHIPPING_INFO' == sectionDTO.view.type}" th:remove="tag">
                                        <div th:replace="checkout/partials/shippingInfoForm :: shipping-info-form"
                                                th:with="${sectionDTO}"></div>
                                    </div>
                                    <div th:if="${'PAYMENT_INFO' == sectionDTO.view.type}" th:remove="tag">
                                        <div class="clearfix"></div>
                                        <div th:replace="checkout/partials/paymentInfoForm :: payment-info-form"
                                                th:with="${sectionDTO}"></div>
                                    </div>
                                </div>
                            </div>
                            
<!--                            <div class="col-md-12 col-sm-12 col-xs-12 step-2">
                                <div class="payment-method">
                                    <h2 class="padding-bottom-20">PAYMENT METHOD</h2>
                                    <div class="checkboxx">
                                        <div class="center-on-page">
                                            <input type="radio" name="rb" checked="checked" id="rb1" />
                                            <label for="rb1">Credit Card</label>
                                        </div>
                                    </div>
                                    <form>
                                        <div class="form-group">
                                            <label for="">Card Number</label>
                                            <input type="" class="form-control" id="" /> </div>
                                            <div class="form-group">
                                                <label for="">Name on the Card</label>
                                                <input type="" class="form-control" id="" /> </div>
                                                <div class="col-md-6 col-sm-6 col-xs-12" style="padding-left: 0;">
                                                    <div class="form-group">
                                                        <label for="">CVV</label>
                                                        <input type="" class="form-control" id="" /> </div>
                                                    </div>
                                                    <div class="col-md-6 col-sm-6 col-xs-12" style="padding-right: 0;">
                                                        <div class="form-group">
                                                            <label for="">Expiration Date</label>
                                                            <input type="" class="form-control" id="" /> </div>
                                                        </div>
                                                    </form>
                                                    <div class="checkboxx">
                                                        <div class="center-on-page">
                                                            <input type="radio" name="rb" id="rb3" />
                                                            <label for="rb3"> Pay Pal</label>
                                                        </div>
                                                    </div>
                                                    <div class="checkboxx">
                                                        <div class="center-on-page">
                                                            <input type="radio" name="rb" id="rb5" />
                                                            <label for="rb5"> Cash On Delivery</label>
                                                        </div>
                                                    </div>
                                                </div>
                            </div>-->
                        </div>
                                                            <div class="col-md-6 col-sm-6 col-xs-12 order-summary" th:if="${#lists.isEmpty(cart.orderItems)}">
                                                                <h2 class="padding-bottom-20">ORDER SUMMARY</h2>
                                                                <div class="col-md-12 col-sm-12 col-xs-12 padding-0">
                                                                    <div class="empty">
                                                                        <center>
                                                                            <img src="/img/no order.png" />
                                                                            <h3>You Have No Items In Your Cart</h3>
                                                                            <a th:href="@{/}"><button type="button" class="btn-dark">Shop Now</button></a>
                                                                        </center>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6 col-sm-6 col-xs-12 order-summary" th:unless="${#lists.isEmpty(cart.orderItems) or cartRequiresLock != null}">
                                                                <h2 class="padding-bottom-20">ORDER SUMMARY</h2>
                                                                <div class="col-md-12 col-sm-12 col-xs-12 padding-0" th:replace="checkout/partials/orderSummary :: order-summary" />
                                                                <div class="col-md-12 col-sm-12 col-xs-12 padding-0 prize-detail">
                                                                    <h2 class="padding-top-20 padding-bottom-20">PRICE DETAILS</h2>
                                                                    <div class="clearfix" style="background-color: #f7f7f7; padding: 20px;">
                                                                        <div class="col-md-12 col-sm-12 col-xs-12 padding-0 ">
                                                                            <ul class="yt">
                                                                                <li class="mt">Subtotal</li>
                                                                                <li class="text-right mt" blc:price="${cart.subTotal}"></li>
                                                                            </ul>
                                                                        </div>
                                                                        <div class="col-md-12 col-sm-12 col-xs-12 padding-0 ">
                                                                            <ul class="yt">
                                                                                <li class="mt">Bag Discount</li>
                                                                                <li class="text-right mt" th:if="${cart.orderAdjustmentsValue.zero}">---</li>
                                                                                <li class="text-right mt" th:unless="*{cart.orderAdjustmentsValue.zero}" blc:price="${cart.orderAdjustmentsValue}"></li>
                                                                            </ul>
                                                                        </div>
                                                                        <div class="col-md-12 col-sm-12 col-xs-12 padding-0 ">
                                                                            <ul class="yt">
                                                                                <li class="mt">Taxes</li>
                                                                                <li class="text-right mt" blc:price="${cart.totalTax}"></li>
                                                                            </ul>
                                                                        </div>
                                                                        <div class="col-md-12 col-sm-12 col-xs-12 padding-0 ">
                                                                            <ul class="yt">
                                                                                <li class="mt">Shipping</li>
                                                                                <li class="text-right mt" blc:price="${cart.totalShipping}">Free</li>
                                                                            </ul>
                                                                        </div>
                                                                        <div class="col-md-12 col-sm-12 col-xs-12 padding-0 yt-1">
                                                                            <ul class="yt margin-bottom-0">
                                                                                <li class="mt"><h3 class="margin-bottom-0 margin-top-10"><b>Amount Payable</b></h3></li>
                                                                                <li class="text-right mt"><h3 class="margin-bottom-0 margin-top-10"><b blc:price="${cart.total}"></b></h3></li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!--<div class="col-md-12 col-sm-12 col-xs-12 text-center step-2 padding-0"><button class="btn-dark">Confirm Order</button></div>-->
                                                    </div>
        </section>
        
    </blc:one_page_checkout>
</div>
