<div id="account" layout:decorator="layout/fullPageLayout" layout:fragment="content">
    <head>
        <title>Forgot Password Success</title>
    </head>
    
<!--    <div id="forgotPasswordSuccess">
        <h3>Forgot Password</h3>
        
        <p>We've sent you an email with instructions to reset your password.</p>
                        
    </div>-->
    <section class="clearfix banner">
        <div class="col-md-12 col-sm-12 col-xs-12" style="padding: 0"> <img class="img-responsive" src="/img/forgot-password.jpg" /> </div>
    </section>
    <div class="container">
        <div class="col-md-12 regis ">
            <h2>FORGOT PASSWORD</h2>
            <p>We've sent you an email with instructions to reset your password.</p>
        </div>
    </div>
</div>