<!--<footer class="group">
    <div id="left_content">
        <h4><span th:utext="#{footer.delivering}">Delivering Texas Sized Heat</span></h4>
        &copy; <span th:utext="#{footer.copyrightHC}">Copyright 2013 The Heat Clinic</span><br />
        <a href=""><span th:utext="#{footer.privacyPolicy}">Privacy Policy</span></a>
    </div>
    <div id="right_content">
        <h4><span th:utext="#{footer.since1978}">Since Nineteen Seventy Eight</span></h4>
        <span th:utext="#{footer.allRights}">All Rights Reserved</span>.<br />
        <a href=""><span th:utext="#{footer.customerService}">Customer Service</span></a>
    </div>
    <div id="blc_brand">
        <a href="http://www.broadleafcommerce.com"  >
            <img blc:src="@{/img/broadleaf-seal.png}" alt="Broadleaf Commerce" />
            <h4><span th:utext="#{footer.branding.poweredByBLC}">Powered by Broadleaf Commerce</span></h4>
            <br />
        </a>
        <p>&copy; <span th:utext="#{footer.branding.copyrightBLC}">Copyright 2013 Broadleaf Commerce</span><br /></p>
    </div>

    <div th:remove="all">
    </div>
    
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script th:inline="text">
        //<![CDATA[
        window.jQuery || document.write('<script src="[[@{/js/lib/jquery-1.9.1.js}]]"><\/script>');
        //]]>
    </script>
    
    <blc:bundle name="lib.js" 
                mapping-prefix="/js/"
                files="plugins.js,
                       libs/jquery.MetaData.js,
                       libs/jquery.rating.pack.js,
                       libs/jquery.dotdotdot-1.5.1.js" />
    
    <blc:bundle name="heatclinic.js" 
                mapping-prefix="/js/"
                files="BLC.js,
                       heatClinic.js,
                       cartOperations.js,
                       checkoutOperations.js,
                       globalOnReady.js,
                       manageAccountOperations.js,
                       reviewOperations.js" />

</footer>-->


<section id="footer" class="footer">
    <div class="container">
        <div class="col-md-12 col-sm-12 col-xs-12" style="border-bottom: 1px solid rgba(147, 151, 163, 0.2);">
            <div class="col-md-6 col-sm-6 col-xs-6" style="padding: 35px;">
                <center>
                    <img class="img-responsive" src="/img/andriod.png" />
                </center>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6" style="padding: 35px;">
                <center>
                    <img class="img-responsive" src="/img/ios.png" />
                </center>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12" style="padding-bottom: 35px; padding-top: 20px;">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <h3>ABOUT</h3>
                <hr />
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <h3>CONTACT</h3>
                <hr />
                <p>306 Fortune Aura, </p>
                <p>Indore, INDIA</p>
                <p>Tel : 0731 4216304</p>
                <p>engage.qualwebs.com</p>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <h3>GET OFFERS</h3>
                <hr />
                <form action="#">
                    <div class="input-group" style=" border: 1px solid #9397a3;">
                        <input class="btn btn-lg subscribe" name="email" id="email" type="email" placeholder="Your Email" />
                        <button class="btn-light" type="submit">Submit</button>
                    </div>
                </form>
                <ul class="center-block">
                    <li class="fb"><a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li class="insta"><a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    <li class="tw"><a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li class="g"><a href=""><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<a href="#0" class="cd-top">Top</a>
<script src="/js/jquery.min.js" type="text/javascript"></script>
<script src="/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/js/ddmenu.js" type="text/javascript"></script> 
<script src="/js/owl.carousel.js"></script> 
<script src="/js/jquery-confirm.min.js"></script>
<script src="/js/jquery.nicescroll.min.js"></script>
<script src="/js/jquery.rateyo.js"></script>
<script src="/js/jquery.fancybox.min.js"></script>
<script src="/js/slick.js"></script>
<!--<script src="/js/2/ninja-slider.js" type="text/javascript"></script>-->

<!--<script th:inline="text">
    //<![CDATA[
    window.jQuery || document.write('<script src="[[@{/js/lib/jquery-1.9.1.js}]]"><\/script>');
    //]]>
</script>

<blc:bundle name="lib.js" 
            mapping-prefix="/js/"
            files="plugins.js,
                   libs/jquery.MetaData.js,
                   libs/jquery.rating.pack.js,
                   libs/jquery.dotdotdot-1.5.1.js" />
<blc:bundle name="heatclinic.js" 
            mapping-prefix="/js/"
            files="BLC.js,
                   heatClinic.js,
                   cartOperations.js,
                   checkoutOperations.js,
                   globalOnReady.js,
                   manageAccountOperations.js,
                   reviewOperations.js" />-->

<blc:bundle name="heatclinic.js" 
            mapping-prefix="/js/"
            files="BLC.js,
                   heatClinic.js,
                   cart.js" />

<script>
//    $(document).ready(
//        function() {
//            $("html").niceScroll({
//                cursorcolor:'#212230',
//                cursorborderradius:'0px'
//            });
//        }
//    );
    // Nice scroll initialisation.
    $(document).ready(function() {
        $("html").niceScroll({
            cursorcolor:'#212230',
            cursorborderradius:'0px',
            cursorborder :'0px',
            cursorwidth :'12'
        });
    });

    $(document).ready(function() {
        $(".myscroll").niceScroll({
            cursorcolor:'#212230',
            cursorborderradius:'0px',
            cursorborder :'0px',
            cursorwidth :'12'
        });
    });
    
    function initFancyScroll()
    {
        setTimeout(function(){
            $("#fancyscroll").niceScroll({
                cursorcolor:'#212230',
                cursorborderradius:'0px',
                cursorborder :'0px',
                cursorwidth :'0'
            });
        },500);
    }
    
    // Checking for login before review
    function writeAReview()
    {
        if($(".login-test").length)
        {
            window.location.href = "/login";
        }
        else
        {
            $("#myModal").modal('show');
        }
    }
    
    var reviewSelected = $("#rateYo").rateYo({fullStar: true});
    
</script>
<!-- Progress bar carousel -->
<script src="/js/custom.js"></script> 
