<!--    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title th:unless="${pageTitle == 'TEMPLATE'}" th:utext="${#strings.isEmpty(pageTitle) ? 'Broadleaf Demo - Heat Clinic' : pageTitle}"></title>
    
    <title th:if="${pageTitle == 'TEMPLATE'}" th:remove="tag">
        <title th:inline="text" th:include="${templateName} :: title" />
    </title>
    
    <meta name="description" content="Broadleaf Demo Store" />
    <meta name="author" content="Broadleaf Commerce" />

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />   
    <meta name="viewport" content="width=device-width" />-->
    
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    
    <title th:unless="${pageTitle == 'TEMPLATE'}" th:utext="${#strings.isEmpty(pageTitle) ? 'Watches' : pageTitle}"></title>
    
    <title th:if="${pageTitle == 'TEMPLATE'}" th:remove="tag">
        <title th:inline="text" th:include="${templateName} :: title" />
    </title>
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" crossorigin="anonymous" />
    <link href="/css/ddmenu.css" rel="stylesheet" type="text/css" />
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <link href="/css/owl.carousel.css" rel="stylesheet" />
    <link href="/css/2/ninja-slider.css" rel="stylesheet" type="text/css" />
    <link href="/css/owl.theme.css" rel="stylesheet" />
    <link href="/css/scroll-top.css" rel="stylesheet" type="text/css" />
    <link href="/css/jquery-confirm.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/login.css" rel="stylesheet" type="text/css" />
    <link href="/css/signup.css" rel="stylesheet" type="text/css" />
    <link href="/css/product.css" rel="stylesheet" type="text/css" />
    <link href="/css/imagezoom.css" rel="stylesheet" type="text/css" />
    
    <link href="/img/favicon.ico" rel="shortcut icon" />
        
    <blc:google_universal_analytics ordernumber="${order?.orderNumber}" />
    
<!--    <blc:bundle name="style.css" 
                mapping-prefix="/css/"
                files="style.css,
                       jquery.rating.css" />
    
    <link rel="stylesheet" th:unless="${#strings.isEmpty(additionalCss)}" />
    

    <script blc:src="@{/js/libs/modernizr-2.5.3.min.js}"></script>
    
    <blc:google_universal_analytics ordernumber="${order?.orderNumber}" />-->
