<div th:fragment="billing-info-form">

    <div class="cart_title">
        <h3 th:utext="#{cart.billingInformation}">Billing Information</h3>
        <a th:if="${'SAVED' == sectionDTO.state.type}"
           th:href="@{/checkout(edit-billing='true')}">
            <!--<span th:utext="#{cart.edit}">Edit</span>-->
            <button class="btn btn-dark">Edit</button>
        </a>
    </div>

    <div class="clearfix"></div>

    <div class="checkout_warning"
         th:if="${'INACTIVE' == sectionDTO.state.type}">
        <span th:utext="${sectionDTO.helpMessage}"></span>
    </div>

    <blc:form th:object="${billingInfoForm}"
              th:action="@{/checkout/billing}"
              method="POST" id="billing_info"
              novalidate="novalidate">

        <div th:if="${'SAVED' == sectionDTO.state.type
                        and !#fields.hasErrors('*')}"
             th:inline="text" class="clearfix">
            <div class="group shipping-info-read-only">
                <h3><span th:utext="#{cart.billingAddress}">Billing Address</span></h3>
                <div style="background-color: #f7f7f7; padding: 20px;">
                    <ul th:if="*{address.phonePrimary !=null and address.phonePrimary.phoneNumber != null}">
                        <li>
                            <h3 style="margin-top: 0">[[*{address.firstName}]]&nbsp;[[*{address.lastName}]]</h3>
                        </li>
                        <li>
                            <h5>[[*{address.addressLine1}]], [[*{address.addressLine2}]]</h5>
                        </li>
                        <li>
                            <h5>[[*{address.city}]],&nbsp;[[*{address.stateProvinceRegion}]]&nbsp;[[*{address.postalCode}]]</h5>
                        </li>
                        <li>
                            <h5>[[*{address.phonePrimary.phoneNumber}]]</h5>
                        </li>
                    </ul>
                    <ul th:if="*{address.phonePrimary == null or address.phonePrimary.phoneNumber == null}">
                        <li>
                            <h3 style="margin-top: 0">[[*{address.firstName}]]&nbsp;[[*{address.lastName}]]</h3>
                        </li>
                        <li>
                            <h5>[[*{address.addressLine1}]], [[*{address.addressLine2}]]</h5>
                        </li>
                        <li>
                            <h5>[[*{address.city}]],&nbsp;[[*{address.stateProvinceRegion}]]&nbsp;[[*{address.postalCode}]]</h5>
                        </li>
                    </ul>
                    <div class="address">
                        <ul>
                            <li><b><a th:if="${'SAVED' == sectionDTO.state.type}"
                                   th:href="@{/checkout(edit-billing='true')}">Edit</a></b></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!--/* We still have to render the billing form so the JavaScript can copy the fields, we will just add the class of 'hide' */-->
        <div id="billing_info_form"
             th:classappend="${('SAVED' == sectionDTO.state.type or 'INACTIVE' == sectionDTO.state.type) and !#fields.hasErrors('*')} ? 'hide'">

            <!--<input type="hidden" name="address.isoCountryAlpha2" value="US" />-->
            <div class="wrapper">
                <div class="field form30 col-sm-12 col-md-12">
                    <label for="billingInfoCountry" class="field-label">Country</label>
                    <select id="billingInfoCountry"
                            class="field-input required cloneable"
                            name="address.isoCountryAlpha2">
                        <option value="US">United States</option>
                        <option value="MX">Mexico</option>
                        <option value="CA">Canada</option>
                    </select>
                </div>
            </div>
            
            <div class="clearfix"></div>
            
            <div class="wrapper">
                <div class="field form30 col-sm-12 col-md-6">
                    <span class="error" th:if="${#fields.hasErrors('address.firstName')}" th:errors="*{address.firstName}"></span>
                    <label for="firstName" class="field-label" th:utext="#{cart.firstName}">Name</label>
                    <input type="text" id="firstName" th:field="*{address.firstName}" class="field-input field30 required cloneablet" th:classappend="${#fields.hasErrors('address.firstName')}? 'fieldError'" />
                </div>

                <div class="field form30 col-sm-12 col-md-6">
                    <span class="error" th:if="${#fields.hasErrors('address.lastName')}" th:errors="*{address.lastName}"></span>
                    <label for="lastName" class="field-label" th:utext="#{cart.lastName}">First Name</label>
                    <input type="text" id="lastName" th:field="*{address.lastName}" class="field-input field30 required cloneablet" th:classappend="${#fields.hasErrors('address.lastName')}? 'fieldError'" />
                </div>
            </div>
            
            <div class="clearfix"></div>
            
            <div class="wrapper">
                <div class="field form30 col-sm-12 col-md-12">
                    <span class="error_spacer" th:if="${#fields.hasErrors('address.firstName') or #fields.hasErrors('address.lastName')}">error</span>
                    <label for="phone" class="field-label" th:utext="#{cart.phone}">Phone</label>
                    <input type="tel"
                           id="address.phonePrimary"
                           name="address.phonePrimary"
                           th:if="*{address.phonePrimary!=null}"
                           th:value="*{address.phonePrimary.phoneNumber}"
                           class="field-input field30 cloneable" />
                    <input type="tel"
                           id="address.phonePrimary"
                           name="address.phonePrimary"
                           th:if="*{address.phonePrimary==null}" class="field-input field30 cloneable" />
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="wrapper">
                <div class="field form50 col-sm-12 col-md-12">
                    <span class="error" th:if="${#fields.hasErrors('address.addressLine1')}" th:errors="*{address.addressLine1}"></span>
                    <label for="address1" th:utext="#{cart.address}" class="field-label">Address</label>
                    <input type="text"
                           id="address1"
                           th:field="*{address.addressLine1}"
                           class="field-input field50 required cloneable"
                           th:classappend="${#fields.hasErrors('address.addressLine1')}? 'fieldError'" />
                </div>
            </div>
            
            <div class="clearfix"></div>
            
            <div class="wrapper">
                <div class="field form50 col-sm-12 col-md-12">
                    <span class="error" th:if="${#fields.hasErrors('address.addressLine1')}"></span>
                    <label for="address2" th:utext="#{cart.address2}" class="field-label">Address line 2</label>
                    <input type="text"
                           id="address2"
                           th:field="*{address.addressLine2}"
                           class="field-input field50 cloneable" />
                </div>
            </div>
            
            <div class="clearfix"></div>
            
            <div class="wrapper">
                <div class="col-md-12">
                    <span class="error" th:if="${#fields.hasErrors('address.city')}" th:errors="*{address.city}"></span>
                </div>
                <div class="field form30 col-sm-12 col-md-4">
                    <label for="billingCity" class="field-label">City</label>
                    <input type="text"
                           id="billingCity" 
                           th:field="*{address.city}"
                           class="field-input field25 required cloneable"
                           th:classappend="${#fields.hasErrors('address.city')}? 'fieldError'" />
                </div>

                <div class="field form30 col-sm-12 col-md-4">
                    <label for="billingId" class="field-label">State</label>
                    <select id="state" th:field="*{address.stateProvinceRegion}" size="1"
                            class="field-input required cloneable"
                            th:classappend="${#fields.hasErrors('address.stateProvinceRegion')}? 'fieldError'">
                        <option value="">--</option>
                        <option th:each="state : ${states}"
                                th:value="${state.abbreviation}"
                                th:utext="${state.abbreviation}">

                         </option>
                    </select>
                </div>

                <div class="field form25 col-sm-12 col-md-4">
                    <span class="error" th:if="${#fields.hasErrors('address.postalCode')}" th:errors="*{address.postalCode}"></span>
                    <label for="postal_code" class="field-label" th:utext="#{cart.postalCode}">Postal Code</label>
                    <input type="text"
                           th:field="*{address.postalCode}"
                           class="field-input field25 cloneable"
                           th:classappend="${#fields.hasErrors('address.postalCode')}? 'fieldError'" />
                </div>
            </div>

            <button type="submit" class="btn-dark" id="saveBillingInfo">Save Billing</button>
                <!--<input type="submit" class="medium red" value="Save Billing" />-->

        </div>
    </blc:form>

</div>