<div th:fragment="payment-method-form">

    <div class="payment_info"
         th:unless="${showAllPaymentMethods}">
        <h3><span th:utext="#{cart.paymentMethod}">Payment Method</span></h3>

        <ul th:if="${orderContainsThirdPartyPayment}" class="payment_methods">
            <li><img blc:src="@{/img/payment/paypal-curved-32px.png}"/></li>
        </ul>

        <ul th:if="${orderContainsUnconfirmedCreditCard}" class="payment_methods">
            <li><img src="https://www.mastercard.com/mc_us/wallet/img/en/US/mp_mc_acc_034px_gif.gif"/></li>
            <div th:if="${unconfirmedCC.initialTransaction != null}">
                <div th:if="!${#strings.isEmpty(unconfirmedCC.initialTransaction.additionalFields['CARD_TYPE'])}">
                    <b th:utext="${unconfirmedCC.initialTransaction.additionalFields['CARD_TYPE']}"/><br/>
                    <span th:utext="${unconfirmedCC.initialTransaction.additionalFields['NAME_ON_CARD']}"></span><br/>
                    ****<span th:utext="${unconfirmedCC.initialTransaction.additionalFields['LAST_FOUR']}"/><br/>
                    <span th:utext="#{confirmation.exp}">exp.</span> <span th:utext="${unconfirmedCC.initialTransaction.additionalFields['EXP_DATE']}"/>
                </div>
            </div>
        </ul>


        <div class="form100">
            <blc:form th:action="@{/checkout/complete}"
                      method="POST" id="complete_checkout"
                      novalidate="novalidate">
                <!--<input type="submit" class="medium red" th:value="#{cart.completOrder}" />-->
                <button type="submit" class="btn-dark" th:utext="#{cart.completOrder}"></button>
            </blc:form>
        </div>

    </div>

    <div class="payment_info"
            th:if="${showAllPaymentMethods}">
        <h3><span th:utext="#{cart.paymentMethod}">Payment Method</span></h3>

<!--        <ul class="payment_methods">
            <li><img blc:src="@{/img/payment/american-express-curved-32px.png}"/></li>
            <li><img blc:src="@{/img/payment/mastercard-curved-32px.png}"/></li>
            <li><img blc:src="@{/img/payment/visa-curved-32px.png}"/></li>
            <li><img blc:src="@{/img/payment/discover-curved-32px.png}"/></li>
            <li><img blc:src="@{/img/payment/paypal-curved-32px.png}"/></li>
        </ul>-->

        <dl id="paymentOptions">
            <dt>
                <div class="wrapper">
                    <div class="checkboxx">
                        <div class="center-on-page">
                            <input id="paymentMethod_cc" type="radio" name="paymentMethod" value="credit_card" checked="checked"/>
                            <label for="paymentMethod_cc" th:utext="#{cart.creditCard}">Credit Card</label>
                        </div>
                    </div>
                </div>
            </dt>
            <dd>
                <blc:transparent_credit_card_form paymentRequestDTO="${paymentRequestDTO}"
                                                  action="#"
                                                  role="form"
                                                  method="POST">
                    <div id="creditCardFields">

                        <div class="wrapper">
                            <div class="field form50">
                                <label for="cardNumber" class="field-label prompt" th:utext="#{cart.cardNumber}">Card Number</label>
                                <input type="text"
                                    th:name="${#paymentGatewayField.mapName('creditCard.creditCardNum')}"
                                    value=""
                                    id="cardNumber"
                                    class="field-input field35"
                                    autocomplete="off"/>
                            </div>
                        </div>

                        <!--<div class="clearfix"></div>-->

                        <div class="wrapper">
                            <div class="field form50 col-md-6">
                                <label class="field-label prompt" th:utext="#{cart.cvv}">CVV</label>
                                <input type="text"
                                       th:name="${#paymentGatewayField.mapName('creditCard.creditCardCvv')}"
                                       id="securityCode"
                                       class="field-input field25"
                                       autocomplete="off"/>
                            </div>
                            <div class="field form25 col-md-6">
                                <label for="cardExpDate" class="field-label prompt" th:utext="#{cart.experationDate}+ ' (MM/YY)'">Expiration Date</label>
                                <input type="text"
                                       th:name="${#paymentGatewayField.mapName('creditCard.creditCardExpDate')}"
                                       id="cardExpDate"
                                       class="field-input field25"
                                       autocomplete="off" />
                            </div>
                        </div>

                        <!--<div class="clearfix"></div>-->

                        
                        <blc:credit_card_types>
                            <div class="wrapper">
                                <div th:if="${paymentGatewayCardTypes != null}" class="field form50">
                                    <label for="cardType" class="field-label prompt" th:utext="#{cart.cardType}">Card Type</label>
                                    <select id="cardType" class="field-input" th:name="${#paymentGatewayField.mapName('creditCard.creditCardType')}">
                                        <option th:each="entry : ${paymentGatewayCardTypes}" th:value="${entry.key}" th:utext="${entry.value}"></option>
                                    </select>
                                </div>
                            </div>
                        </blc:credit_card_types>

                        <div class="clearfix"></div>

                        <div class="wrapper">
                            <div class="field form50">
                                <label for="nameOnCard" class="field-label prompt" th:utext="#{cart.nameOnCard}">Name on the Card</label>
                                <input type="text"
                                       th:name="${#paymentGatewayField.mapName('creditCard.creditCardHolderName')}"
                                       id="nameOnCard"
                                       class="field-input field35"  />
                            </div>
                        </div>

                        <!--<div class="clearfix"></div>-->

                        <div class="wrapper">
<!--                            <div class="field form25">
                                <label for="cardExpDate" class="field-label prompt" th:utext="#{cart.experationDate}">Expiration Date</label>
                                <input type="text"
                                       th:name="${#paymentGatewayField.mapName('creditCard.creditCardExpDate')}"
                                       id="cardExpDate"
                                       class="field-input field25"
                                       autocomplete="off" />
                            </div>-->
                        </div>

                        <div class="clearfix"></div>
                    </div>

                    <!--<input type="submit" class="medium red" value="Checkout" />-->
                    <button type="submit" class="btn-dark">Checkout</button>

                </blc:transparent_credit_card_form>

            </dd>
            <dt>
                <div class="wrapper">
                    <div class="checkboxx">
                        <div class="center-on-page">
                            <input id="paymentMethod_paypal" type="radio" name="paymentMethod" value="paypal" />
                            <label for="paymentMethod_paypal" th:utext="#{cart.payPal}">PayPal</label>
                        </div>
                    </div>
                </div>
            </dt>
            <dd style="display: none;">
                <div id="paypalfields">
                    <div class="form100">
                        <img blc:src="@{/img/paypal.gif}" alt="Pay with Paypal" width="100" />
                    </div>
                </div>
            </dd>
            <dt>
                <div class="wrapper">
                    <div class="checkboxx">
                        <div class="center-on-page">
                            <input id="paymentMethod_cod" type="radio" name="paymentMethod" value="cod" />
                            <label for="paymentMethod_cod" th:utext="#{cart.collectOnDelivery}">Collect On Delivery</label>
                        </div>
                    </div>
                </div>
            </dt>
            <dd style="display: none;">
                <div>
                    <blc:form th:action="@{/checkout/cod/complete}"
                              method="POST" id="complete_checkout"
                              novalidate="novalidate">
                        <!--<input type="submit" class="medium red" th:value="#{cart.completOrder}" />-->
                        <button type="submit" class="btn-dark" th:utext="#{cart.completOrder}"></button>
                    </blc:form>
                </div>
            </dd>
        </dl>

    </div>

</div>